<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Software</title>
		<link rel="stylesheet" href="css/style.css" />
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<div class="h-[100vh] w-[100%] flex flex-col">
			<!-- <ul id='movible' class="w-full border-b border-b-[#171B24] px-1 h-[2rem] gap-4 text-[0.83rem] flex items-center bg-[#1F2430]">
				<li  class='w-[1.8rem] h-[1.8rem] p-1'><img class='w-full h-full object-cover' src="./../../assets/icon.png" alt="" srcset=""></li>
                <li>File</li>
				<li>Edit</li>
				<li>View</li>
				<li>Help</li>
			</ul> -->
			<header class="bg-[#1F2430] w-full h-[4rem] shadow-3xl"></header>
			<section class="flex-1 flex">
				<nav class="w-[16rem] h-full bg-[#1F2430] shadow-3xl">
					
				</nav>
				<main class="flex-1 h-full bg-[#242936] shadow-3xl"></main>
			</section>
		</div>
	</body>
	<script src="js/script.js"></script>
</html>
